// Pre-state grayscale colors used in other variables

$gray-800: var(--dark);

// Override Bootstrap color system

$orange: var(--primary);

// Override Bootstrap default state colors

$primary: $orange;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
